.App {
  padding: 0;
  border: none;
  box-sizing: border-box;
  margin: 20px 5vw;
}

#inputField {
  font-size: 24px;
  width: 100%;
  padding: 8px 16px;
  border: darkred solid 5px;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.searchBar Button {
  padding: 16px 24px;
  margin-left: 10px;
  border: darkred solid 5px;
}